h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
}

.teammates {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  app-teammate {
    display: flex;
    flex-basis: 25%;
    justify-content: center;

    &:last-child {
      margin-bottom: 100px;
    }
  }
}
