<div class="info">
  <div class="stack">
    <img *ngFor="let icon of teammate.stack" src="assets/technologies/{{icon}}.png" [alt]="icon" [title]="icon">
  </div>
  <img src="assets/{{teammate.photo}}" alt="" width="300">
  <h2>{{teammate.name}}</h2>
  <h3>{{teammate.age}}</h3>
  <div><i class="fas fa-envelope"></i><a href="mailto: {{teammate.mail}}" target="_blank">{{teammate.mail}}</a></div>
  <div><i class="fab fa-github"></i><a href="https://github.com/{{teammate.git}}" target="_blank">{{teammate.git}}</a></div>
  <div><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/{{teammate.linkedin}}" target="_blank">{{teammate.linkedin}}</a></div>
</div>
