.info {
  margin: 10px;

  h2, h3 {
    text-align: center;
  }

  img {
    border-radius: 10px;
  }

  div {
    margin-bottom: 10px;

    i {
      margin: 8px;
    }
  }

  .stack {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 310px;

    img {
      width: 32px;
      height: 32px;
      margin: 3px 3px 3px 5px;

      cursor: help;
    }
  }
}
